.error {
    color: #f00;
    padding-top: 5px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.icon-disabled {
    pointer-events: none !important;
    background: #d8d8d8 !important;
    border-color: #d8d8d8 !important;
}

table thead tr th, table tbody tr td {
	text-align:center !important;
	vertical-align: middle !important;
}
.box-checkbox {
    overflow: hidden;
    max-height: 150px;
    overflow-y: scroll;
    border: 1px solid #cecece;
    padding: 5px 10px;
}
.btn-upload{
    margin-top: 5px;
}
td{
    /*max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;*/
}

.btn_img {
    display: block;
}

.box-img {
    float: left;
    margin: 12px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

.item-img{
    padding: 10px 0;
    float: left;
    width: 100%;
}

.box-img input{
    float: left;
    width: 80%;
}

.box-img button{
    float: left;
    margin-top: 5px;
    margin: 8px;
    margin-top: 0;
}

.cate-level-0 {
    font-weight: bold;   
}

.preview-table-upload {
    font-size: 13px;
    width: 100%;
    margin-top: -15px;
}
.preview-table-upload tr {
    height: 45px;
}
.preview-table-upload td {
    word-break: break-all;
}
.preview-table-upload .col1 {
    width: 20%;
    font-weight: bold;
    padding-left: 15px;
    vertical-align: top;
    text-align: left !important;
}